In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in /Users/bltzkrg/anaconda3/lib/python3.11/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

Importando el módulo para usar la Base de Datos

In [2]:
import mysql.connector

Haciendo conexión al servidor

In [4]:
mydb = mysql.connector.connect(
                        host = "localhost",
                        user = "root",
                        passwd= ""
                )

Creamos un puntero para establecer las oprenciones que indiquen conexión en la base de datos.

In [5]:
mycursor = mydb.cursor()

Creando una base de datos

In [6]:
mycursor.execute('CREATE DATABASE pydb02')

Verificar las bases de datos existentes en mi servidor.

In [8]:
mycursor.execute('show databases')

In [11]:
for db in mycursor:
    print(db)

('SQL_prueba',)
('information_schema',)
('mysql',)
('new_prueba',)
('performance_schema',)
('phpmyadmin',)
('py02TEST',)
('pydb02',)
('test',)

Conectando a la base de datos.

In [15]:
mydb = mysql.connector.connect(
                        host = "localhost",
                        user = "root",
                        passwd= "",
                        database = "pydb02"
                )

In [16]:
mycursor = mydb.cursor()

Creando una tabla en la BD "pydb02"

In [20]:
mycursor.execute('CREATE TABLE pystudents (id INT AUTO_INCREMENT PRIMARY KEY, fname VARCHAR(20), lname VARCHAR(20), edad INT)')

ProgrammingError: 1050 (42S01): Table 'pystudents' already exists

Crear otra tabla en la BD

In [21]:
mycursor.execute('CREATE TABLE pyBooks (id INT AUTO_INCREMENT PRIMARY KEY, bname VARCHAR(20), Autor VARCHAR(20), anio INT)')

In [22]:
mycursor.execute('CREATE TABLE pyProject ( fname VARCHAR(50), siteName VARCHAR(20), nBenef INT)')

crando una llave primaria para la tambla anterior

In [25]:
mycursor.execute('ALTER TABLE pyProject ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY')

Mostrando las tablasdentro de la base de datos

In [26]:
mycursor.execute('SHOW TABLES')

In [27]:
for table in mycursor:
    print(table)

('pyBooks',)
('pyProject',)
('pystudents',)

Agregando registros a la base de datos

In [28]:
mycursor.execute('INSERT INTO pystudents(fname, lname, edad) VALUES (%s, %s, %s)',
                ('john', 'Snow', 60)
                )
mydb.commit()
print(mycursor.rowcount, 'Registro insetado')

1 Registro insetado