In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in /Users/bltzkrg/anaconda3/lib/python3.11/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

Importando el módulo para usar la Base de Datos

In [2]:
import mysql.connector

Haciendo conexión al servidor

In [4]:
mydb = mysql.connector.connect(
                        host = "localhost",
                        user = "root",
                        passwd= ""
                )

Creamos un puntero para establecer las oprenciones que indiquen conexión en la base de datos.

In [5]:
mycursor = mydb.cursor()

Creando una base de datos

In [6]:
mycursor.execute('CREATE DATABASE pydb02')

Verificar las bases de datos existentes en mi servidor.

In [8]:
mycursor.execute('show databases')

In [11]:
for db in mycursor:
    print(db)

('SQL_prueba',)
('information_schema',)
('mysql',)
('new_prueba',)
('performance_schema',)
('phpmyadmin',)
('py02TEST',)
('pydb02',)
('test',)

Conectando a la base de datos.

In [15]:
mydb = mysql.connector.connect(
                        host = "localhost",
                        user = "root",
                        passwd= "",
                        database = "pydb02"
                )

In [16]:
mycursor = mydb.cursor()

Creando una tabla en la BD "pydb02"

In [20]:
mycursor.execute('CREATE TABLE pystudents (id INT AUTO_INCREMENT PRIMARY KEY, fname VARCHAR(20), lname VARCHAR(20), edad INT)')

ProgrammingError: 1050 (42S01): Table 'pystudents' already exists

Crear otra tabla en la BD

In [21]:
mycursor.execute('CREATE TABLE pyBooks (id INT AUTO_INCREMENT PRIMARY KEY, bname VARCHAR(20), Autor VARCHAR(20), anio INT)')

In [22]:
mycursor.execute('CREATE TABLE pyProject ( fname VARCHAR(50), siteName VARCHAR(20), nBenef INT)')

crando una llave primaria para la tambla anterior

In [25]:
mycursor.execute('ALTER TABLE pyProject ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY')

Mostrando las tablasdentro de la base de datos

In [26]:
mycursor.execute('SHOW TABLES')

In [27]:
for table in mycursor:
    print(table)

('pyBooks',)
('pyProject',)
('pystudents',)

Agregando registros a la base de datos

In [28]:
mycursor.execute('INSERT INTO pystudents(fname, lname, edad) VALUES (%s, %s, %s)',
                ('john', 'Snow', 60)
                )
mydb.commit()
print(mycursor.rowcount, 'Registro insetado')

1 Registro insetado

In [29]:
sql = 'INSERT INTO pystudents(fname, lname, edad) VALUES (%s, %s, %s)'
val = ('jony', 'DOe', 670)

mycursor.execute(sql, val)

mydb.commit()
print(mycursor.rowcount, 'Registro insetado')

1 Registro insetado

Agregar Múltiples Registros

In [30]:
sql = 'INSERT INTO pystudents(fname, lname, edad) VALUES (%s, %s, %s)'
val = [
    ('jony', 'Doe', 30),
    ('Jane', 'Smith', 92),
    ('Robert', 'Johnson', 78),
    ('Susan', 'Williams', 95),
    ('Michael', 'Brown', 88),
    ('Emily', 'Jones', 91),
    ('William', 'Davis', 77),
    ('Jennifer', 'Taylor', 89),
    ('James', 'Martinez', 83),
    ('Sarah', 'Miller', 94),
    ('David', 'Garcia', 86),
    ('Mary', 'White', 90),
    ('Matthew', 'Anderson', 79),
    ('Linda', 'Jackson', 93),
    ('Christopher', 'Harris', 82),
    ('Karen', 'Lee', 87),
    ('Joseph', 'Thompson', 80),
    ('Patricia', 'Hall', 96),
    ('Daniel', 'Scott', 75),
    ('Nancy', 'Moore', 97)
    ]

mycursor.executemany(sql, val)

mydb.commit()
print(mycursor.rowcount, 'Registros insetados')

20 Registros insetados

In [32]:
sql = 'INSERT INTO pystudents(fname, lname, edad) VALUES (%s, %s, %s)'
val = [
    ('jony', 'Doe', 30),
    ('Jane', 'Smith', 92),
    ('Robert', 'Johnson', 78),
    ('Susan', 'Williams', 95),
    ('Michael', 'Brown', 88),
    ('Emily', 'Jones', 91),
    ('William', 'Davis', 77),
    ('Jennifer', 'Taylor', 89),
    ('James', 'Martinez', 83),
    ('Sarah', 'Miller', 94),
    ('David', 'Garcia', 86),
    ('Mary', 'White', 90),
    ('Matthew', 'Anderson', 79),
    ('Linda', 'Jackson', 93),
    ('Christopher', 'Harris', 82),
    ('Karen', 'Lee', 87),
    ('Joseph', 'Thompson', 80),
    ('Patricia', 'Hall', 96),
    ('Daniel', 'Scott', 75),
    ('Nancy', 'Moore', 97),
    ('jony', 'Doe', 30),
    ('Jane', 'Smith', 92),
    ('Robert', 'Johnson', 78),
    ('Susan', 'Williams', 95),
    ('Michael', 'Brown', 88),
    ('Emily', 'Jones', 91),
    ('William', 'Davis', 77),
    ('Jennifer', 'Taylor', 89),
    ('James', 'Martinez', 83),
    ('Sarah', 'Miller', 94),
    ('David', 'Garcia', 86),
    ('Mary', 'White', 90),
    ('Matthew', 'Anderson', 79),
    ('Linda', 'Jackson', 93),
    ('Christopher', 'Harris', 82),
    ('Karen', 'Lee', 87),
    ('Joseph', 'Thompson', 80),
    ('Patricia', 'Hall', 96),
    ('Daniel', 'Scott', 75),
    ('Nancy', 'Moore', 97)
    ]

mycursor.executemany(sql, val)

mydb.commit()
print(mycursor.rowcount, 'Registros insetados')

40 Registros insetados

## Seleccionar todos los registros de la tabla

In [33]:
mycursor.execute('SELECT * FROM pystudents')

In [34]:
myresult = mycursor.fetchall()

In [35]:
for registry in myresult:
    print(registry)

(1, 'john', 'Snow', 60)
(2, 'jony', 'DOe', 670)
(3, 'jony', 'Doe', 30)
(4, 'Jane', 'Smith', 92)
(5, 'Robert', 'Johnson', 78)
(6, 'Susan', 'Williams', 95)
(7, 'Michael', 'Brown', 88)
(8, 'Emily', 'Jones', 91)
(9, 'William', 'Davis', 77)
(10, 'Jennifer', 'Taylor', 89)
(11, 'James', 'Martinez', 83)
(12, 'Sarah', 'Miller', 94)
(13, 'David', 'Garcia', 86)
(14, 'Mary', 'White', 90)
(15, 'Matthew', 'Anderson', 79)
(16, 'Linda', 'Jackson', 93)
(17, 'Christopher', 'Harris', 82)
(18, 'Karen', 'Lee', 87)
(19, 'Joseph', 'Thompson', 80)
(20, 'Patricia', 'Hall', 96)
(21, 'Daniel', 'Scott', 75)
(22, 'Nancy', 'Moore', 97)
(23, 'jony', 'Doe', 30)
(24, 'Jane', 'Smith', 92)
(25, 'Robert', 'Johnson', 78)
(26, 'Susan', 'Williams', 95)
(27, 'Michael', 'Brown', 88)
(28, 'Emily', 'Jones', 91)
(29, 'William', 'Davis', 77)
(30, 'Jennifer', 'Taylor', 89)
(31, 'James', 'Martinez', 83)
(32, 'Sarah', 'Miller', 94)
(33, 'David', 'Garcia', 86)
(34, 'Mary', 'White', 90)
(35, 'Matthew', 'Anderson', 79)
(36, 'Linda', 'Jackson', 93)
(37, 'Christopher', 'Harris', 82)
(38, 'Karen', 'Lee', 87)
(39, 'Joseph', 'Thompson', 80)
(40, 'Patricia', 'Hall', 96)
(41, 'Daniel', 'Scott', 75)
(42, 'Nancy', 'Moore', 97)
(43, 'jony', 'Doe', 30)
(44, 'Jane', 'Smith', 92)
(45, 'Robert', 'Johnson', 78)
(46, 'Susan', 'Williams', 95)
(47, 'Michael', 'Brown', 88)
(48, 'Emily', 'Jones', 91)
(49, 'William', 'Davis', 77)
(50, 'Jennifer', 'Taylor', 89)
(51, 'James', 'Martinez', 83)
(52, 'Sarah', 'Miller', 94)
(53, 'David', 'Garcia', 86)
(54, 'Mary', 'White', 90)
(55, 'Matthew', 'Anderson', 79)
(56, 'Linda', 'Jackson', 93)
(57, 'Christopher', 'Harris', 82)
(58, 'Karen', 'Lee', 87)
(59, 'Joseph', 'Thompson', 80)
(60, 'Patricia', 'Hall', 96)
(61, 'Daniel', 'Scott', 75)
(62, 'Nancy', 'Moore', 97)

In [37]:
mycursor.execute('SELECT lname FROM pystudents')
myresult = mycursor.fetchall()
for registry in myresult:
    print(registry)

('Snow',)
('DOe',)
('Doe',)
('Smith',)
('Johnson',)
('Williams',)
('Brown',)
('Jones',)
('Davis',)
('Taylor',)
('Martinez',)
('Miller',)
('Garcia',)
('White',)
('Anderson',)
('Jackson',)
('Harris',)
('Lee',)
('Thompson',)
('Hall',)
('Scott',)
('Moore',)
('Doe',)
('Smith',)
('Johnson',)
('Williams',)
('Brown',)
('Jones',)
('Davis',)
('Taylor',)
('Martinez',)
('Miller',)
('Garcia',)
('White',)
('Anderson',)
('Jackson',)
('Harris',)
('Lee',)
('Thompson',)
('Hall',)
('Scott',)
('Moore',)
('Doe',)
('Smith',)
('Johnson',)
('Williams',)
('Brown',)
('Jones',)
('Davis',)
('Taylor',)
('Martinez',)
('Miller',)
('Garcia',)
('White',)
('Anderson',)
('Jackson',)
('Harris',)
('Lee',)
('Thompson',)
('Hall',)
('Scott',)
('Moore',)

In [38]:
mycursor.execute('SELECT fname FROM pystudents')
myresult = mycursor.fetchall()
for registry in myresult:
    print(registry)

('john',)
('jony',)
('jony',)
('Jane',)
('Robert',)
('Susan',)
('Michael',)
('Emily',)
('William',)
('Jennifer',)
('James',)
('Sarah',)
('David',)
('Mary',)
('Matthew',)
('Linda',)
('Christopher',)
('Karen',)
('Joseph',)
('Patricia',)
('Daniel',)
('Nancy',)
('jony',)
('Jane',)
('Robert',)
('Susan',)
('Michael',)
('Emily',)
('William',)
('Jennifer',)
('James',)
('Sarah',)
('David',)
('Mary',)
('Matthew',)
('Linda',)
('Christopher',)
('Karen',)
('Joseph',)
('Patricia',)
('Daniel',)
('Nancy',)
('jony',)
('Jane',)
('Robert',)
('Susan',)
('Michael',)
('Emily',)
('William',)
('Jennifer',)
('James',)
('Sarah',)
('David',)
('Mary',)
('Matthew',)
('Linda',)
('Christopher',)
('Karen',)
('Joseph',)
('Patricia',)
('Daniel',)
('Nancy',)

In [39]:
mycursor.execute('SELECT fname, edad FROM pystudents')
myresult = mycursor.fetchall()
for registry in myresult:
    print(registry)

('john', 60)
('jony', 670)
('jony', 30)
('Jane', 92)
('Robert', 78)
('Susan', 95)
('Michael', 88)
('Emily', 91)
('William', 77)
('Jennifer', 89)
('James', 83)
('Sarah', 94)
('David', 86)
('Mary', 90)
('Matthew', 79)
('Linda', 93)
('Christopher', 82)
('Karen', 87)
('Joseph', 80)
('Patricia', 96)
('Daniel', 75)
('Nancy', 97)
('jony', 30)
('Jane', 92)
('Robert', 78)
('Susan', 95)
('Michael', 88)
('Emily', 91)
('William', 77)
('Jennifer', 89)
('James', 83)
('Sarah', 94)
('David', 86)
('Mary', 90)
('Matthew', 79)
('Linda', 93)
('Christopher', 82)
('Karen', 87)
('Joseph', 80)
('Patricia', 96)
('Daniel', 75)
('Nancy', 97)
('jony', 30)
('Jane', 92)
('Robert', 78)
('Susan', 95)
('Michael', 88)
('Emily', 91)
('William', 77)
('Jennifer', 89)
('James', 83)
('Sarah', 94)
('David', 86)
('Mary', 90)
('Matthew', 79)
('Linda', 93)
('Christopher', 82)
('Karen', 87)
('Joseph', 80)
('Patricia', 96)
('Daniel', 75)
('Nancy', 97)

In [41]:
mycursor.execute("SELECT fname FROM pystudents WHERE fname = 'Nancy'")
myresult = mycursor.fetchall()
for registry in myresult:
    print(registry)

('Nancy',)
('Nancy',)
('Nancy',)

In [45]:
mycursor.execute("SELECT lname FROM pystudents WHERE lname = 'Doe'")
myresult = mycursor.fetchall()
for registry in myresult:
    print(registry)

('DOe',)
('Doe',)
('Doe',)
('Doe',)

In [47]:
mycursor.execute("SELECT edad,fname FROM pystudents WHERE edad = 30")
myresult = mycursor.fetchall()
for registry in myresult:
    print(registry)

(30, 'jony')
(30, 'jony')
(30, 'jony')